[Unit]
Description=Level 2 test service
After=level0.service
Requires=level0.service

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/local/bin/testscript "Level 2"

[Install]
WantedBy=multi-user.target
